In [7]:
list_one= [1,2,3,4,"amit","learning",True,[1,2,3,"True",["ml","dl","ds"]] ]
print(type(list_one))

<class 'list'>

In [8]:
list_one[4]=0
print(list_one)

[1, 2, 3, 4, 0, 'learning', True, [1, 2, 3, 'True', ['ml', 'dl', 'ds']]]

In [ ]:
list= [ "amit", "learning"," python"]
list.append("machine learning")
print(list)

['amit', 'learning', ' python', 'learning']

In [10]:
list.insert(0,"Artificial intelligence")
list

['Artificial intelligence', 'amit', 'learning', ' python', 'learning']

In [12]:
x1= [1,2,3]
y1= [ 4,5,6 ,7]
x1.extend(y1)
x1

[1, 2, 3, 4, 5, 6, 7]

In [17]:
x1.pop()
x1

[1, 2, 3, 4]

In [33]:
x = ["Menna","Ahmed","Mohamed","Abozaid"]
x.append("Faculty of Engineering")
x.append("Port Said ")
x

['Menna',
 'Ahmed',
 'Mohamed',
 'Abozaid',
 'Faculty of Engineering',
 'Port Said ']

In [35]:
x.extend("25")
x

['Menna',
 'Ahmed',
 'Mohamed',
 'Abozaid',
 'Faculty of Engineering',
 'Port Said ',
 '2',
 '5']

In [50]:
x = ["Menna","Ahmed","Mohamed","Abozaid"]
z= x.pop()
z

'Abozaid'

In [ ]:
x = [ "Machine","learning"]
z1= x.pop()
z1

'learning'

In [52]:
x = [ "Machine","learning"]
z2= x.remove["learning"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [53]:
x

['Machine', 'learning']

In [58]:
del x
x

NameError: name 'x' is not defined

In [60]:
x1 = input("Enter your Name: ")
x2 = input("Enter your ID: ")
x1,x2

('menna', '29901020300244')

In [65]:
num1 = float(input("Enter your first number: "))
sign = input("Enter your operation: ")
num2 =float(input("Enter your second number: "))
if sign == "+":
    print(num1+num2)
elif sign == "-":
    print(num1-num2)
elif sign == "*":
    print(num1*num2)
elif sign == "/":
    print(num1/num2)

5.0

In [66]:
x = [1,2,3,4,5,6,7,8,9,10]
index_of_2= x.index(2)
index_of_2

1

In [67]:
x = [ 1,2,2,3,4,5,2]
count_of_2= x.count(2)
count_of_2

3

In [70]:
x= [ 3,8,6,5,2,7,1,4]
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [71]:
x.reverse()
x

[8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
Tuple_one= (1,2,3,4,"amit","learning",True,[1,2,3,"True",["ml","dl","ds"]])
print(type(Tuple_one))

<class 'tuple'>

In [73]:
Tuple_one[4]

'amit'

In [2]:
a = "menna"

aa= set(a)
aa

{'a', 'e', 'm', 'n'}

In [5]:
tuple_a= (1,2,3,4,5,"amit","learning",{1,2,3},("m1","m2","m3","m4","m5"))
tuple_a

(1, 2, 3, 4, 5, 'amit', 'learning', {1, 2, 3}, ('m1', 'm2', 'm3', 'm4', 'm5'))

In [ ]:
list_a=list(tuple_a)
list_a

[1, 2, 3, 4, 5, 'amit', 'learning', {1, 2, 3}, ('m1', 'm2', 'm3', 'm4', 'm5')]

In [7]:
list_a.append("machine")
tuples_a=tuple (list_a)
tuples_a

(1,
 2,
 3,
 4,
 5,
 'amit',
 'learning',
 {1, 2, 3},
 ('m1', 'm2', 'm3', 'm4', 'm5'),
 'machine')

In [9]:
dic_a= {"key1":12.5, "key2":"value2","key3":"python",4:[1,2,3,4,5]}
print(dic_a)

{'key1': 12.5, 'key2': 'value2', 'key3': 'python', 4: [1, 2, 3, 4, 5]}

In [10]:
print(dic_a["key1"])

12.5

In [11]:
dic_a["key2"]=33
dic_a

{'key1': 12.5, 'key2': 33, 'key3': 'python', 4: [1, 2, 3, 4, 5]}

In [13]:
dic_a["key3"]=33
dic_a

{'key1': 12.5, 'key2': 33, 'key3': 33, 4: [1, 2, 3, 4, 5]}

In [15]:
a={"house1":{"room1":"bed","room2":"desk"},"house2}":{"room1":"chair","room2":"lamp"},"house3":{"room1":"bookshelf","room2":"table"}}
print(a["house1"]["room1"])

bed

In [16]:
key_value_list=[("a",1),("b",2),("c",3)]
dict_from_list=dict(key_value_list)
print(dict_from_list)

{'a': 1, 'b': 2, 'c': 3}

In [22]:
num1=float(input("Enter first Number: "))
num2=float(input("Enter second Number: "))
num1 + num2

11.0

In [23]:
print(f"sum:{num1+num2}")

sum:11.0

In [24]:
is_rainning= False
if not is_rainning: print("it's not raining")

it's not raining

In [34]:
x = input("Enter your mail: ")
y =list(x)
y

['m',
 'e',
 'n',
 'n',
 'a',
 '.',
 'a',
 'b',
 'o',
 'z',
 'a',
 'i',
 'd',
 '@',
 'e',
 'n',
 'g',
 '.',
 'p',
 's',
 'u',
 '.',
 'e',
 'd',
 'u',
 '.',
 'e',
 'g']

In [35]:
if x.__contains__("@")and x.__contains__("."):
    print("it's valid email")
else:
    print("it's not valid email")

it's valid email

In [1]:
for i in range(6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [2]:
for i in range(6):
    if i == 4:
        break
    print(i)

0
1
2
3

In [3]:
for i in range(5):
    if i==2:
        pass
    else:
        print(i)

0
1
3
4

In [ ]:

def Calc_app(num1,num2):
    
    print(num1+num2)

In [14]:
num1= float(input("Enter first number: "))
num2= float(input("Enter second number: "))
Calc_app(num1,num2)

3.0

In [23]:
def User_name (first_name,last_name):
    print(f"Hello, your First Name : {first_name}\nYour Last Name : {last_name}")

In [24]:
x = input("Enter first name: ")
y = input("Enter last name: ")
User_name(x,y)

Hello, your First Name : Menna
Your Last Name : Abozaid

In [25]:
def add_app(num1,num2):
    z= num1+num2
    return z

In [26]:
add_app(2,3)

5

In [28]:
def fun1(name,age):
    print(f"Hello {name}, your age is {age}")

In [29]:
fun1("Menna",25)
fun1(26,"Mohamed")

Hello Menna, your age is 25
Hello 26, your age is Mohamed

In [ ]:
# KeyWord Argument correction
fun1(age=26,name="Mohamed")

Hello Mohamed, your age is 26

In [34]:
# Default Argument 
''' Function Definition with default argument'''
def fun2(name,age=25):
    print(f"Hello {name}, your age is {age}")
    
'''Calling the function'''    
fun2("Menna")

# giving a value for the age that is not default
fun2("Menna",12)

Hello Menna, your age is 25
Hello Menna, your age is 12

In [ ]:
# Varadic Argument Function:(بترجعلي قيمة تبيل اعرف اتحكم فيها وازود داتا )
''' Function Definition with default argument'''
def fun1 (*x):
    print(x)
    print(type(x))

'''Calling the function'''    
fun1("Menna","Abozaid",0,1,2,3,4,5,True,False)

('Menna', 'Abozaid', 0, 1, 2, 3, 4, 5, True, False)
<class 'tuple'>

In [36]:
# Kwargs Argument Function: (نجمتين قبل المتغير وبتحول الداتا لديكشنري
''' Function Definition with default argument'''
def fun2(**x):
    print(x)
    print(type(x))

'''Calling the function''' 
fun2(key1=10,key2=20,key3=30,key4=40,key5=50)

{'key1': 10, 'key2': 20, 'key3': 30, 'key4': 40, 'key5': 50}
<class 'dict'>

In [3]:
# Lambda Function (Anonymous Function)
z = lambda x: x + 10
print("The result is: ",z(15))

The result is:  25

In [5]:
z = lambda x, y: x+y
print("The result is: ",z(15,20))

The result is:  35

In [ ]:
def fun1(n):
    return lambda a: a*n
fun2=fun1(2)
print(fun2(11))
#n=2  , a=11

22

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10]
for i in list1:
    print (i)

1
2
3
4
5
6
7
8
9
10

In [15]:
def Numbers():
    for i in list1:
        if i%2==0:
            print("The number is even: ",i)
        else:
            print("The number is odd: ",i)
list1=[1,2,3,4,5,6,7,8,9,10]
Numbers()

The number is odd:  1
The number is even:  2
The number is odd:  3
The number is even:  4
The number is odd:  5
The number is even:  6
The number is odd:  7
The number is even:  8
The number is odd:  9
The number is even:  10

In [10]:
for i in list1:
    if i%2!=0:
        print("The number is odd: ",i)

The number is odd:  1
The number is odd:  3
The number is odd:  5
The number is odd:  7
The number is odd:  9

In [32]:
def Numbers(list1):
    for i in list1:
        if isinstance(i, (int, float)) and i % 2 == 0:
            print("The number is even: ", i)
        elif isinstance(i, (int, float)):
            print("The number is odd: ", i)
        else:
            print(f"Invalid entry in list: {i}")
    return list1
x = float(input("Enter a number to be checked: "))
list1 = [float(num) for num in input("Enter a list of numbers separated by spaces: ").strip('[]').replace(',', ' ').split()]
list1.append(x)
Numbers(list1)

The number is odd:  1.0
The number is even:  2.0
The number is odd:  3.0
The number is even:  4.0
The number is odd:  5.0
The number is even:  100.0

[1.0, 2.0, 3.0, 4.0, 5.0, 100.0]

tuples_list =

In [1]:
tuples_list = [(1, 2), (3, 4), (5, 6)]
for i in tuples_list:
    print(i)
for (t1,t2) in tuples_list:
    print (t1)

(1, 2)
(3, 4)
(5, 6)
1
3
5

In [2]:
list_1= [[1,2,3],[4,5,6],[7,8,9]]
for i in list_1:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [47]:
list_1= [[1,2,3],[4,5,6],[7,8,9]]
for i in list_1:
    print(i)
    
#list comprehension
first_col=[num[0] for num in list_1 ] 
print("First Column:",first_col)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
First Column: [1, 4, 7]

In [53]:
second_col=[num[1] for num in list_1] 
print("Second Column:",second_col)


Third_col=[num[1] for num in list_1 if num[1]>4]
print("Third Column:",Third_col)

Second Column: [2, 5, 8]
Third Column: [5, 8]

In [ ]:
#Recursion: Loop inner function and it stopped when the condition is met//
def fun(x):
    if x<=1:
        return x
    return x+fun(x-1)

fun(5)
# fun(5) = 5 +(4+(3+(2+(1+0))) = 15

15

In [55]:
#The difference between "Local" and "Global" variables//

x = "Global"
def fun1():
    x = "Local"
    print("inside:", x)

fun1()
#Output: inside: Local

print("outside:", x)
#Output: outside: Global

inside: Local
outside: Global

In [ ]:
x = "Global"
def fun1():
    global x #unique keyword to get x>> global, once the variable became global it will be used in the function and outside the function and cannot be changed//
    x = "Local"
    print("inside:", x)

fun1()
#Output: inside: Local
print("outside:", x)
#Output: outside: Local

inside: Local
outside: Local

In [61]:
'''Try-Except statement: (to handle errors and exceptions)//'''
try:
    x = int(input("Enter a number: "))
    y = 10 / x
    print("Result:", y)
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
finally:
    print("Done")

Error: Division by zero is not allowed.
Done

In [4]:
#Modules:
#(importing libraries and modules)//
import random#(importing the random module)//
n= random.random()#(generating a random number between 0 and 1)//
def degree(n):
    print("The degree is: ",n)
    
degree(n)

The degree is:  0.0983916659685089

In [5]:
n= random.randint(1,100)#(generating a random number between 1 and 100)//
degree(n)

The degree is:  69

In [7]:
random.choice([1,2,3,"Menna","Ahmed",4,5,6,7,8,9,10])#(choosing a random number from the list)//

8

In [ ]:
import math#(importing the math module)//

In [14]:
'''OOP: '''
class STUDENT: #prefered to be capital letters>
    name = "Menna"
    age = 26
    
    
    def info(self):
        print(f"my name is {name} and my age is {age}")

In [16]:
s1= STUDENT() #>> copy from class
print(s1.age,s1.name) #>> access the class original attributes

s2= STUDENT() #>> copy from class
s1.name = "Ahmed" #>> change the class attributes
s1.age = 30 #>> change the class attributes
print(s1.age,s1.name) #>> access the class attributes

26 Menna
30 Ahmed

In [6]:
print(s1.name)

Ahmed

In [19]:
s1.info()

NameError: name 'name' is not defined

In [20]:
'''To Correct this error in calling the method of the class,
you should use 'self' to refer to the instance of the class.'''
class STUDENT:  # Class name should be Capitalized (PascalCase), not all caps
    name = "Menna"
    age = 26

    # It's best to use 'self' instead of 'Abozaid' for readability
    def info(self):
        # Access class attributes through self
        print(f"My name is {self.name} and my age is {self.age}")

# Create an object (instance) of the STUDENT class
s1 = STUDENT()

# Access the class attributes through the object
print(s1.age, s1.name)

# Call the method that prints the information
s1.info()

26 Menna
My name is Menna and my age is 26

In [ ]:
'''Proving that self variable is a reference to the instance of the class.'''
class Test():
    def info(self):
        print(self)
x = Test()
print(x)
x.info()
# address memory of the object(self object)

<__main__.Test object at 0x0000017BAC664EC0>
<__main__.Test object at 0x0000017BAC664EC0>