In [7]:
list_one= [1,2,3,4,"amit","learning",True,[1,2,3,"True",["ml","dl","ds"]] ]
print(type(list_one))

<class 'list'>

In [8]:
list_one[4]=0
print(list_one)

[1, 2, 3, 4, 0, 'learning', True, [1, 2, 3, 'True', ['ml', 'dl', 'ds']]]

In [ ]:
list= [ "amit", "learning"," python"]
list.append("machine learning")
print(list)

['amit', 'learning', ' python', 'learning']

In [10]:
list.insert(0,"Artificial intelligence")
list

['Artificial intelligence', 'amit', 'learning', ' python', 'learning']

In [12]:
x1= [1,2,3]
y1= [ 4,5,6 ,7]
x1.extend(y1)
x1

[1, 2, 3, 4, 5, 6, 7]

In [17]:
x1.pop()
x1

[1, 2, 3, 4]

In [33]:
x = ["Menna","Ahmed","Mohamed","Abozaid"]
x.append("Faculty of Engineering")
x.append("Port Said ")
x

['Menna',
 'Ahmed',
 'Mohamed',
 'Abozaid',
 'Faculty of Engineering',
 'Port Said ']

In [35]:
x.extend("25")
x

['Menna',
 'Ahmed',
 'Mohamed',
 'Abozaid',
 'Faculty of Engineering',
 'Port Said ',
 '2',
 '5']

In [50]:
x = ["Menna","Ahmed","Mohamed","Abozaid"]
z= x.pop()
z

'Abozaid'

In [ ]:
x = [ "Machine","learning"]
z1= x.pop()
z1

'learning'

In [52]:
x = [ "Machine","learning"]
z2= x.remove["learning"]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [53]:
x

['Machine', 'learning']

In [58]:
del x
x

NameError: name 'x' is not defined

In [60]:
x1 = input("Enter your Name: ")
x2 = input("Enter your ID: ")
x1,x2

('menna', '29901020300244')

In [65]:
num1 = float(input("Enter your first number: "))
sign = input("Enter your operation: ")
num2 =float(input("Enter your second number: "))
if sign == "+":
    print(num1+num2)
elif sign == "-":
    print(num1-num2)
elif sign == "*":
    print(num1*num2)
elif sign == "/":
    print(num1/num2)

5.0

In [66]:
x = [1,2,3,4,5,6,7,8,9,10]
index_of_2= x.index(2)
index_of_2

1

In [67]:
x = [ 1,2,2,3,4,5,2]
count_of_2= x.count(2)
count_of_2

3

In [70]:
x= [ 3,8,6,5,2,7,1,4]
x.sort()
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [71]:
x.reverse()
x

[8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
Tuple_one= (1,2,3,4,"amit","learning",True,[1,2,3,"True",["ml","dl","ds"]])
print(type(Tuple_one))

<class 'tuple'>

In [73]:
Tuple_one[4]

'amit'

In [2]:
a = "menna"

aa= set(a)
aa

{'a', 'e', 'm', 'n'}

In [5]:
tuple_a= (1,2,3,4,5,"amit","learning",{1,2,3},("m1","m2","m3","m4","m5"))
tuple_a

(1, 2, 3, 4, 5, 'amit', 'learning', {1, 2, 3}, ('m1', 'm2', 'm3', 'm4', 'm5'))

In [ ]:
list_a=list(tuple_a)
list_a

[1, 2, 3, 4, 5, 'amit', 'learning', {1, 2, 3}, ('m1', 'm2', 'm3', 'm4', 'm5')]

In [7]:
list_a.append("machine")
tuples_a=tuple (list_a)
tuples_a

(1,
 2,
 3,
 4,
 5,
 'amit',
 'learning',
 {1, 2, 3},
 ('m1', 'm2', 'm3', 'm4', 'm5'),
 'machine')

In [9]:
dic_a= {"key1":12.5, "key2":"value2","key3":"python",4:[1,2,3,4,5]}
print(dic_a)

{'key1': 12.5, 'key2': 'value2', 'key3': 'python', 4: [1, 2, 3, 4, 5]}

In [10]:
print(dic_a["key1"])

12.5

In [11]:
dic_a["key2"]=33
dic_a

{'key1': 12.5, 'key2': 33, 'key3': 'python', 4: [1, 2, 3, 4, 5]}

In [13]:
dic_a["key3"]=33
dic_a

{'key1': 12.5, 'key2': 33, 'key3': 33, 4: [1, 2, 3, 4, 5]}

In [15]:
a={"house1":{"room1":"bed","room2":"desk"},"house2}":{"room1":"chair","room2":"lamp"},"house3":{"room1":"bookshelf","room2":"table"}}
print(a["house1"]["room1"])

bed

In [16]:
key_value_list=[("a",1),("b",2),("c",3)]
dict_from_list=dict(key_value_list)
print(dict_from_list)

{'a': 1, 'b': 2, 'c': 3}

In [22]:
num1=float(input("Enter first Number: "))
num2=float(input("Enter second Number: "))
num1 + num2

11.0

In [23]:
print(f"sum:{num1+num2}")

sum:11.0